{% extends './base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    <div id="contain">
        <div id="img">
            <img src="{% static 'staff/a.jpeg' %}" alt="">
        </div>
        <div id="detail">
            <span>
                Name: {{detail.w_name}}
            </span>
            <span>
                age: {{detail.w_age}}
            </span>
            <span>
                Position: {{detail.w_field}}
            </span>
            <span>
                Phone: {{detail.w_phone}}
            </span>
            <span>
                E-mail: {{detail.w_email}}
            </span>     
            <div id="btn-div">
                <a href="{% url 'main' %}"><button id="btn">Back</button></a>
            </div>
        </div>
        
    </div>
        
    {% endblock %}
</body>
</html>